.mainContainer {
  display: flex;
  height: 4rem;
  top: 0;
  width: 100%;
}

.leftContainer {
  align-items: center;
  background-color: #ffb435;
  display: flex;
  justify-content: left;
  list-style: none;
  width: 50%;
}

.rigthContainer {
  align-items: center;
  background-color: #ffb435;
  display: flex;
  justify-content: right;
  list-style: none;
  width: 50%;
}

.orders {
  background-color: #ffb435;
  color: white;
  width: 45%;
}

.products {
  background-color: #ff7f00;
  color: #563f51;
  width: 35%;
}

.userName {
  align-items: center;
  background-color: #563f51;
  color: white;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 12rem;
}

.logout {
  align-items: center;
  background-color: #998c95;
  color: white;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 6rem;
}

a {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: center;
  text-decoration: none;
}
